<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text'
               [(ngModel)]='listFilter' />
      </div>
    </div>
    <div class='row'
         *ngIf='listFilter'>
      <div class='col-md-6'>
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'
             *ngIf='complaints.length'>
        <thead>
        <tr>
          <th>Number</th>
          <th>Description</th>
          <th>Solution</th>
          <th>Priority</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let complaint of filteredComplaints'>
          <td>
            <a [routerLink]="['/complaints', complaint.id]">
              {{ complaint.number }}
            </a>
          </td>
          <td>{{ complaint.description }}</td>
          <td>{{ complaint.solution }}</td>
          <td>{{ complaint.priority }}</td>
          <td>{{ complaint.status }}</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

